
@font-face {
  font-family: "Palmaton";
  src: url("../fuentes/Palmaton.ttf");
}


@font-face {
  font-family: "Amsterdam";
  src: url("../fuentes/Amsterdam.ttf");
}

h3{

  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Ms Madi', cursive; */
    font-size: 1.6rem;
    font-weight: 800;
    color: #bd9045;
    /* font-style: italic; */
}



h2{
  /* font-family: 'Cookie', cursive; */
  font-family: 'Palmaton', cursive;
  font-weight: 00;
  font-size: 4rem;
  padding-bottom: 1.5rem;
  /* color:#d4af83; */
  color: #bd9045;
   
}

@media (max-width: 425px) {
  h2{

    font-size: 3rem;
  }
}

.hoteles h5{
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  text-transform: uppercase;
      color:#d4af83;
}

.nokid{
  font-size: 16px;
}

@media (max-width: 1440px) {

  .nokid{
    padding: 0px 180px !important;
  }
  
}

@media (max-width: 425px) {

  .nokid{
    padding: 0px !important;
  }
  
}


.hoteles p{
  font-size: 16px;
}
@media (max-width: 600px) {
  .hoteles {
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .hoteles div {

    padding: 10px;
  }

  .hoteles h5{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    color:#d4af83;
  }
}


.header__date{
  font-family: 'Quattrocento', serif;
    font-size: 2.8rem;
    font-weight: 700;
    /* color:#05331B; */
    color: #bd9045;
    margin-bottom: 40px;

}

.all{
  /* background-image: url('./../assets/marmol1.png');
  background-size:800px 940px;
  background-repeat: repeat; */
}

#main,#padrinos, #testigos, #vestimenta, #collage, #redes{
  background-image: url('./../assets/papel1.png');
  background-size:600px;
  background-repeat: repeat;
}

#lugar, #itinerario,#regalo,#asistencia{
  background-image: url('./../assets/papel1.png');
  background-size:600px;
  background-repeat: repeat;
}
.header_navbar{
    font-family:'Cookie', cursive;
    font-size: 2.5rem;
    color: #9158327e;

}

#main div
{
  font-family: 'Amsterdam', cursive;
  font-size: 27.5px;
  line-height: 2.5;
  font-weight: 100;
  color: #858483;
  letter-spacing: 3px;
  /* color: #454444; */
}

.frasedos
{
  font-family: 'Amsterdam', cursive;
  font-size: 27.5px;
  line-height: 2.5;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
  padding: 30px 90px;
  text-align: center;
  /* color: #454444; */
}

.hr__tres{
  /* background-color: #843c34; */
  /* background-color: #bd9045; */
  /* background-color: #d2b49a; */
  background-color:#d4af83;
  height: 400px;
}


@media (max-width: 1330px) {
  .frasedos
  {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .frasedos
  {
    font-size: 28px;
    line-height: 2.4;
  }
  .hr__tres{
    height: 525px;
  }
}



@media (max-width: 425px) {

  .frasedos
  {
    padding: 20px !important;
    font-size:20px ;
  }
  .hr__tres{
    height: 465px;
  }
}

@media (max-width: 375px) {


  .frasedos
  {
    padding: 20px !important;
    font-size:20px ;
  }
  .hr__tres{
    height: 495px;
  }
}

@media (max-width: 320px) {

  .frasedos
  {
    padding: 20px !important;
    font-size:20px ;
  }

  .hr__tres{
    height: 545px;
  }

}




.frase{
  position: relative;
}

.ramitauno{
  width: 100px;
  position: absolute;
  top:-50px;
  right:-50px;
}

.ramitados{
  width: 100px;
  position: absolute;
  top:290px;
  left:-45px;
  transform: rotate(-50deg);
}

@media (max-width: 1330px) {
  #main div
  {
    font-size: 25px;
  }
  .ramitados{
    top:250px;
  }
}

@media (max-width: 1024px) {
  #main div
  {
    font-size: 28px;
    line-height: 2.4;
  }
  .ramitados{
    top:390px;
  }
}

@media (max-width: 768px) {

  .ramitados{
    top:590px;
  }
}


@media (max-width: 425px) {

  #main div
  {
    padding: 0px !important;
    font-size:20px ;
  }

  .ramitados{
    top:490px;
    width: 70px;
  }
  .ramitauno{
    width: 70px;
  }
}

@media (max-width: 375px) {


  #main div
  {
    padding: 0px !important;
    font-size:20px ;
  }

  .ramitados{
    top:540px;
    width: 70px;
  }
  .ramitauno{
    width: 70px;
  }
}

@media (max-width: 320px) {

  #main div
  {
    padding: 0px !important;
    font-size:20px ;
  }

  .ramitados{
    top:630px;
    width: 70px;
  }
  .ramitauno{
    width: 70px;
  }
}





.noni{
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nokids{
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Quattrocento', serif;
}
.navbar__container{
    background-color: #591F12;
    filter: opacity(0.8);
    padding-left: 1rem;
    font-size: 1.1rem;
}

.banner__container{
    background-image: url('./../assets/portada.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #8C2C23;
    height: 100vh;
    /* width: 100vw; */
    
}

.backgroundFixed{
  background-image: url('./../assets/image00001.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  
}

.backgroundFixed01{
  background-image: url('./../assets/image00002.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  
}
/*font-family: 'Beau Rivage', cursive;
font-family: 'Cookie', cursive;
font-family: 'Cormorant Garamond', serif; 300, 400, 500 700
font-family: 'Grand Hotel', cursive;
font-family: 'Rochester', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Style Script', cursive;
font-family: 'The Nautigal', cursive; 400 y 700
font-family: 'Updock', cursive;*/

.header_h1{
    font-family:'Rouge Script', cursive;
    font-weight: 500;
    /* font-family: 'Palmaton', cursive; */
    font-size: 7rem;
    /* color: #8C2C23; */
    color: white;
    text-align: center;
    line-height: 0.3;
    padding-top: 20px;

}

.header_h1-span{
    font-family: 
    /* 'Updock', cursive; */
    'Rouge Script', cursive;
    
    /* 'Cookie', cursive; */
    /* 'Rochester', cursive; */
    /* 'Style Script', cursive; */
}



@media (max-width: 690px) {
  .header_h1 {
    font-size: 4rem;
    /* color: #05331B; */
  }


  .arrow{
    display: none;
  }
}


@media (max-width: 370px) {
  .header_h1 {
    font-size: 4rem;
    /* color: #05331B; */
  }

}

.hr__second{
    /* background-color: #843c34; */
    /* background-color: #bd9045; */
    /* background-color: #d2b49a; */
    background-color:#d4af83;
    height: 100px;
}





@media (max-width: 1024px) {
  .container_p{
    padding: 10px !important;
  }

  .container_h3{
    padding: 2px !important;
    /* font-size: 14px; */
  }

  .container_h3 h3{
    padding: 2px !important;
    /* font-size: 14px; */
  }
  
}

@media (max-width: 540px) {

  .image_container img{
    width: 300px !important;
  }

  iframe{
    width: 300px !important;
  }


  .itinerario_container img{
    height: 300px !important;
    text-align: center;
  }

  .hr__second div {
    display: none;
  }

  .text_ending h2{
    font-size: 40px;
  }
 
  .text_ending div{
    display: none;
  }
}



@media (max-width: 425px) {

  .padrino-container{
    padding: 0px!important;
  }

  .container_h3{
    padding: 0px !important;
    margin-left: 0px !important;
    font-size: 16px;
  }

  .container_h3 h3{
    padding: 10px !important;
    font-size: 16px;
  }
  
}

@media (max-width: 425px) {

  #testigos h3{
    font-size: 16px;
  }
  
}


/*f

font-family: 'Cormorant Garamond', serif; 300, 400, 500 700

font-family: 'Rochester', cursive;
font-family: 'Rouge Script', cursive;


font-family: 'Updock', cursive;*/



/*
font-family: 'Cormorant Garamond', serif; 300, 400, 500 700


font-family: 'Rouge Script', cursive;

font-family: 'Updock', cursive;*/

.h3__bigger{
    font-size: 1.8rem;
    padding-bottom: 1.5rem;

}




p{
 
  /* font-family: 'Lato', sans-serif; */
/* font-family: 'Quattrocento', serif; */
font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    /* color:#24312bb3; */
    color: #bd9045;
}

.p--center{
    padding:0 9rem;  
}

.social__container{
  background-image: url('./../assets/image00006.jpeg');
  background-size: cover;
  background-position: center;
   background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
/*CSS GRID*/
@media (max-width: 1440px) {
  .redes-img{
    padding: 10px !important;
  }
  .social__container{
  
      height: 500px;
      width: 700px;
 }
}
@media (max-width: 1024px) {
  .redes-img{
    padding: 10px !important;
  }
  .social__container{
  
      height: 500px;
      width: 400px;
 }
}

@media (max-width: 768px) {
  .redes-img{
    padding: 10px !important;
    justify-content: center;
    align-items: center;
  }
  .social__container{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 0% 100%);

      height: 500px;
      width: 100%;
 }

 .redes-container{
  justify-content: center !important;
 }
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 400px;
    background-color: #fff;
    color: #444;
  }

  @media (max-width: 1300px) {
    .wrapper {
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 500px 500px 500px 500px;
    }
  }

  @media (max-width: 690px) {
    .wrapper {
      grid-template-columns: 100px 100px 100px;
      grid-template-rows: 500px 500px 500px 500px;
    }
  }

  .misti{
    background-image: url('./../assets/volcan.jpeg');
    height: 250px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
  }

.hoteles{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}







.donde{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1300px) {
 
  .donde {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

  .box {
    background-color: #444;
    border-radius: 5px;
    padding: 20px;

  }

  .a {
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url('./../assets/image00004.jpeg');
    background-size: cover;
    background-position: center;

  }

  @media (max-width: 1300px) {
    .a {
      grid-column: 1 / 4;
    }
  }

  .b {
    grid-column: 3 ;
    grid-row: 1 / 3;
    background-image: url('./../assets/image00007.jpeg');
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 1300px) {

    .b{
      grid-column: 1 / 4 ;
      grid-row: 3;
    }
  }

  .c {
    grid-column: 1 ;
    grid-row: 2 ;
    background-image: url('./../assets/image00005.jpeg');
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 1300px) {

    .c{
      grid-column: 1 / 4 ;
      grid-row: 2;
    }
  }
  

  

  .d {
    grid-column: 2;
    grid-row: 2;
    background-image: url('./../assets/image00003.jpeg');
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 1300px) {

    .d{
      grid-column:  1/4 ;
      grid-row: 4;
    }
  }

  

/*Conteo*/


  
  #clockdiv{
    /* font-family: 'Work Sans', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
font-family: 'Quattrocento', serif;

    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 12px;
    border-radius: 3px;
    /* background: #91583263; */
    background: #d4af839a;
    display: inline-block;
  }
  
  .smalltext{
    font-family: 'Quattrocento', serif;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color:#d4af83;
  }


  
  @media (max-width: 1000px) {
    .smalltext {
      font-size: 0.8rem;
    }

    #clockdiv div > span{
      padding: 5px;
    }
  
  }
  
 
  @media (max-width: 370px) {
    .smalltext {
      font-size: 0.6rem;
    }

    #clockdiv div > span{
      padding: 6px;
    }
  
    #clockdiv{
      font-size: 14px;
    }
  }





 
  


  .card__testigos p{
    font-size: 1.1rem;
    min-height: 400px;
  }
  .card__testigos{
    flex-basis: 500px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #d2b49a;
/* background-color: #fff; */
/* background: url(../assets/papel.png); */
background-size: contain;
background-repeat: repeat;
/* box-shadow:  5px 0px 10px #d5d8d85a,
             -5px -0px 10px #ffffff0c; */
              }


              @media (max-width: 425px) {

                .testigos-container{
                  padding:  0px !important;
                }
                
              }
